body, html {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #10065b, #060322);
    text-align: center;
}

.dark-logo {
    float: left;
    position: absolute;
    left: 4%;
    margin-top: 4%;
    height: 70px;
    width: 70px;
}

.container {
    position: relative;
    text-align: center;
}

.title {
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0;
    font-size: 85px;
    font-weight: 2px;
}

p {
    color: gray;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
}

.ceiling-light {
    display: inline-block;
}

.mid-container {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text] {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 2%;
}

.button{
  background: transparent;
  color: #FFF;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: none;
  text-decoration:none
}

.button:hover{
  color: #a8bfff;
  border: none;

}
.man1 {
    position: absolute;
    height: 80%;
    top: 2%;
    left: 10%;
}

.man2 {
    position: absolute;
    height: 110%;
    top: 1%;
    right: 10%;
}
