body, html{
  margin: 0px;
  height: 100%;
  background-image: linear-gradient(to bottom,#10065b, #060322);
  text-align: center;

}

/* .dark-logo {
    position: relative;
    margin-right: 90%;
    margin-top: 4%;
    margin-bottom: 1%;
    height: 5%;
    width: 5%;
} */

.dark-logo {
    float: left;
    position: absolute;
    left: 4%;
    margin-top: 4%;
    height: 70px;
    width: 70px;
}

.g-signin2{
    position: relative;
    text-align: center;
    left: 50%;
}


.login{
    /* background-image: linear-gradient(to bottom,#10065b, #060322); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    font-size: 85px;
    font-weight: 2px;

}

p{
  color: gray;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
}

.studygirl{
    height: 50%;
}

#buttonsignup{
  width: 300px;
  height: 40px;
}

#buttonsignin{
  width: 300px;
  height: 40px;
}

#container{
  text-alight: center;
}
